.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.github/workflows/build-preview.yaml
.github/workflows/ci.yaml
.github/workflows/deploy-preview.yaml
.github/workflows/docker-build-push.yaml